.option-btn {
  width: 40%;
  min-width: 170px;
  padding: 10px;
  background-color: #2196f342;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}

.nav-option {
  justify-content: space-between;
}
